:root {
    --bg-color: #F8F8F8;
    --header-color: #001233;
    --text-color: #FFF;
    --title-color: #303030;
}

main{
    height: calc(100vh - 100px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo h2{
    margin-bottom: 82px;
    margin-top: 40px;
}

.boxPerfil{
    background-color: #FFF;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    margin: 0 auto;
    vertical-align: top;
    height: 425px;
    overflow-y: auto;
}

.linha1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    position: absolute;
    top: 170px;
    left: 675px;
}

.profile-pic-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3)
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.options-menu {
    display: none;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.options-menu ul li:last-child {
    border-bottom: none;
}

.options-menu ul li:hover {
    background-color: #f0f0f0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semitransparente para sobrepor a imagem */
    color: white;
    font-size: 16px;
    text-align: center;
}

.lineNomeEmail{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 95px;
    margin-bottom: 36px;
}

.nome {
    margin-bottom: 30px
}

.nome p {
    font-weight: bold;
}

.email p{
    font-weight: bold;
    margin-top: 10px;
}

.permissoes{
    margin-left: 100px;
    margin-top: 25px;
}

.listP p {
    font-weight: bold;
}

.listP ul {
    list-style-type: disc; /* Adiciona o pontinho de tópico */
    padding-left: 20px; /* Adiciona um espaçamento antes dos itens */
}

.listP li {
    margin-bottom: 5px;
}

.listaEmLinha {
    list-style-type: none; /* Remove os pontos de lista padrão */
    padding: 0;
    margin: 0;
}

.listaEmLinha li {
    display: inline; /* Exibe os itens em linha */
    margin-right: 5px; /* Espaçamento entre os itens */
}

.listaEmLinha li::after {
    content: ";"; /* Adiciona ponto e vírgula após cada item */
    margin-left: 5px; /* Espaçamento após o ponto e vírgula */
}

.listaEmLinha li:last-child::after {
    content: ""; /* Remove o ponto e vírgula do último item */
}

.listaEmLinha li:first-child::before {
    content: "• "; /* Adiciona um ponto (disco) antes do primeiro item */
}

.empresas{
    margin-left: 100px;
    margin-top: 25px;
}

.listE p {
    font-weight: bold;
}

.listE ul {
    list-style-type: disc; /* Adiciona o pontinho de tópico */
    padding-left: 20px; /* Adiciona um espaçamento antes dos itens */
}

.listE li {
    margin-bottom: 5px;
}

.listaEmp {
    list-style-type: none; /* Remove os pontos de lista padrão */
    padding: 0;
    margin: 0;
}

.listaEmp li {
    display: inline; /* Exibe os itens em linha */
    margin-right: 5px; /* Espaçamento entre os itens */
}

.listaEmp li::after {
    content: ";"; /* Adiciona ponto e vírgula após cada item */
    margin-left: 5px; /* Espaçamento após o ponto e vírgula */
}

.listaEmp li:last-child::after {
    content: ""; /* Remove o ponto e vírgula do último item */
}

.listaEmp li:first-child::before {
    content: "• "; /* Adiciona um ponto (disco) antes do primeiro item */
}

.alterarSenha{
    margin-left: 100px;
    padding-top: 25px;
}

#cadeado{
    cursor: pointer;
}

.trocarSenha{
    color: #535353;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 4px;
}


/* DEIXAR NO FINAL */
.back_prompt {
    height: 100vh;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.prompt {
    background-color: #ffffff;
    width: 50vw;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    animation: popupAppear 0.5s normal;
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
    padding: 1em 1em 0 1em;
}

.conteudoEditar{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80vh;
    color: rgb(137, 137, 137);
}

#btnfechar{
    display: flex;
    justify-content: flex-end;
    width: 105%;
    cursor: pointer;
}

.l1{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: black;
}

.l1 input{
    width: 300px;
}

.l3s{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 0px;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

.salvar{
    color: #0c4df0;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
    margin-right: 0px;
    display: flex;
    
}