:root {
    --bg-color: #F8F8F8;
    --header-color: #001233;
    --text-color: #FFF;
    --title-color: #303030;
}

main{
    height: calc(100vh - 100px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxPerfil{
    background-color: #FFF;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    margin: 0 auto;
    vertical-align: top;
    height: 500px;
    overflow-y: auto;
}

.linha1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.profile-pic-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    cursor: pointer;
    position: relative;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.options-menu {
    display: none;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.options-menu ul li:last-child {
    border-bottom: none;
}

.options-menu ul li:hover {
    background-color: #f0f0f0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semitransparente para sobrepor a imagem */
    color: white;
    font-size: 16px;
    text-align: center;
}

.lineNomeEmail{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.nome p {
    font-weight: bold;
}

.email p{
    font-weight: bold;
    margin-top: 10px;
}

.permissoes{
    margin-left: 100px;
    margin-top: 25px;
}

.listP p {
    font-weight: bold;
}

.listP ul {
    list-style-type: disc; /* Adiciona o pontinho de tópico */
    padding-left: 20px; /* Adiciona um espaçamento antes dos itens */
}

.listP li {
    margin-bottom: 5px;
}

.listaEmLinha {
    list-style-type: none; /* Remove os pontos de lista padrão */
    padding: 0;
    margin: 0;
}

.listaEmLinha li {
    display: inline; /* Exibe os itens em linha */
    margin-right: 5px; /* Espaçamento entre os itens */
}

.listaEmLinha li::after {
    content: ";"; /* Adiciona ponto e vírgula após cada item */
    margin-left: 5px; /* Espaçamento após o ponto e vírgula */
}

.listaEmLinha li:last-child::after {
    content: ""; /* Remove o ponto e vírgula do último item */
}

.listaEmLinha li:first-child::before {
    content: "• "; /* Adiciona um ponto (disco) antes do primeiro item */
}

.empresas{
    margin-left: 100px;
    margin-top: 25px;
}

.listE p {
    font-weight: bold;
}

.listE ul {
    list-style-type: disc; /* Adiciona o pontinho de tópico */
    padding-left: 20px; /* Adiciona um espaçamento antes dos itens */
}

.listE li {
    margin-bottom: 5px;
}

.listaEmp {
    list-style-type: none; /* Remove os pontos de lista padrão */
    padding: 0;
    margin: 0;
}

.listaEmp li {
    display: inline; /* Exibe os itens em linha */
    margin-right: 5px; /* Espaçamento entre os itens */
}

.listaEmp li::after {
    content: ";"; /* Adiciona ponto e vírgula após cada item */
    margin-left: 5px; /* Espaçamento após o ponto e vírgula */
}

.listaEmp li:last-child::after {
    content: ""; /* Remove o ponto e vírgula do último item */
}

.listaEmp li:first-child::before {
    content: "• "; /* Adiciona um ponto (disco) antes do primeiro item */
}

.alterarSenha{
    margin-left: 100px;
    padding-top: 25px;
}

#cadeado{
    cursor: pointer;
}

.trocarSenha{
    color: #535353;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 4px;
}