@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,body{
    margin: 0;
}

.conteudo{
    width: 95%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.boxEmpresa{
    width: 95%;
    height: 70vh;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudoTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: rgb(137, 137, 137);
}

.fields{
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
    color: rgb(137, 137, 137);
    margin: 20px;
    border: 0;
    width: 400px;
    height: 35px;
    outline: none;
}

.cadastrarEmpresa{
    color: #0CF030;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
}

.buttons{
    cursor: pointer;
}

.boxList{
    color: rgb(137, 137, 137);
    width: 95%;
    max-height:20em;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    position: static;
}

.boxList p {
    margin: 10px;
}