@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
    margin: 0;
    overflow-x: hidden;
}

.conteudo{
    width: 95%;
    height: calc(100vh - 100px);
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.boxEmpresa{
    width: 95%;
    height: 90px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudoTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: rgb(137, 137, 137);
}

.fields{
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
    color: #000;
    margin: 20px;
    border: 0;
    width: 400px;
    height: 35px;
    outline: none;
}

.cadastrarEmpresa{
    color: #0CF030;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
}

.buttons{
    cursor: pointer;
}

.boxList{
    color: rgb(137, 137, 137);
    width: 95%;
    max-height:20em;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    position: static;
    overflow-y: auto;
}

.boxList p {
    margin: 10px;
    margin-right: 100px;
    width: 250px;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#editar{
    color: #0c4df0;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
}

#excluir{
    color: #fa0000;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
}

.btns{
    display: flex;
}

.buttonsEE{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.txtCnpj{
    margin-right: 100px;
}

.text{
    display: flex;
    width: 805px;
    justify-content: space-between;
    margin-left: 10px;
}
.back_prompt {
    height: 100vh;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.prompt {
    background-color: #ffffff;
    width: 38vw;
    height: 27vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.promptEx {
    background-color: #ffffff;
    width: 38vw;
    height: 27vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.prompt1 {
    background-color: #ffffff;
    width: 38vw;
    height: 27vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#fechar{
    display: flex;
    justify-content: flex-end;
    width: 97%;
    cursor: pointer;
    margin-top: 10px;
}

.btns {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.btn_p {
    min-width: 72px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #006a8f;
}

.prompt {
    animation: popupAppear 0.5s normal;
    
}

.input_data{
    border: none;
    outline: none;
    background-color: #c1c1c1;
    height: 30px;
    width: 200px;
    border-radius: 12px;
    padding: 5px;
    display: flex;
}

.conteudoPrompt{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    justify-content: space-around;
    height: 350px;
}

.menu{
    display: flex;
    gap: 70px;
}
/* DADOS DO USUARIO */
.info_user {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.user_name {
    margin: 0;
    align-self: flex-end; /* Adicionando esta linha */
  }
  

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
}
#user-icon{
  margin-right: 4%;
  margin-top: 13%;
}
/* FIM DADOS DO USUARIO */

@keyframes popupAppear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}