@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,body{
    margin: 0;
}

.conteudo{
    width: 100%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.boxEmpresa{
    width: 90%;
    height: 70vh;
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudoTexto{
    display: flex;
    justify-content: center;

}

.fields{
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    margin: 25px;
    border: 0;
    width: 400px;
    height: 35px;
}

.cadastrarEmpresa{
    background-color: #63E6BE;
    color: #63E6BE;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
}

.buttons{
    margin-left: 100px;
    cursor: pointer;
}

.boxList{
    width: 90%;
    max-height:20em;
    margin-top: 5%;
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    position: static;
}

.boxList p {
    margin: 10px;
}