@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
    margin: 0;
    overflow-x: hidden;
}

.conteudo{
    width: 100%;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.conteudoCadastro{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    color: rgb(137, 137, 137);
}

.conteudoEditar{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80vh;
    color: rgb(137, 137, 137);
}

.l1, .l2{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
}

.l1 input{
    width: 500px;
}

.l2 input{
    width: 282px;
}

.l3{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 15px;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 10px;
}

#cadastrarUser{
    color: #0CF030;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 4px;
}

.fields{
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
    margin: 15px;
    border: 0;
    width: 400px;
    height: 35px;
    outline: none;
}

.conteudoList{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    color: rgb(137, 137, 137);
    margin-top: 20px;
}

.conteudoList p {
    margin: 10px;
    width: 250px;
}

.line{
display: flex;
flex-direction: row;
justify-content:space-between;
}

.firstPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
}

.secondPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonUser{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    color: #0c4df0;
}
.back_prompt {
    height: 100vh;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.prompt {
    background-color: #ffffff;
    width: 60vw;
    height: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    animation: popupAppear 0.5s normal;
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
    padding: 1em 1em 0 1em;
}

.buttonEdit {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: #0c4df0;
    margin-right: 10px;
    border: none;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#btnfechar{
    display: flex;
    justify-content: flex-end;
    width: 105%;
    cursor: pointer;
}

.buttonRemove {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: #fa0000; 
    margin-right: 10px;
    border: none;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn_p {
    min-width: 72px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #006a8f;
}

.input_data{
    border: none;
    outline: none;
    background-color: #c1c1c1;
    height: 30px;
    width: 200px;
    border-radius: 12px;
    padding: 5px;
}

.l3s{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 0px;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

.salvar{
    color: #0c4df0;
    border: none;
    background-color:#fff;
    cursor: pointer;
    font-weight: bold;
    margin-right: 0px;
    display: flex;
    
}


.menu{
    display: flex;
    gap: 70px;
}

/* DADOS DO USUARIO */
.info_user {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.user_name {
    margin: 0;
    align-self: flex-end;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
}
#user-icon{
    margin-right: 4%;
    margin-top: 13%;
}

.prompt1 {
    background-color: #ffffff;
    width: 38vw;
    height: 27vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
/* FIM DADOS DO USUARIO */

@media screen and (max-width: 768px) {
    .conteudoCadastro{
        background-color: black;
    }
}

.all-select{
    width: 20%;
    display: flex;
    flex-direction: column;
}

#role{
    margin: 0;
    width: 100%;
}
#role_edit{
    margin: 0;
    width: 100%;
}

#empresa{
    margin: 0;
    width: 100%;
}

#empresa_edit{
    margin: 0;
    width: 100%;
}

.options-selected{
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: transparent;
}

.opt_empresa{
    background: #bdbaba;
    padding: 0 10px;
    height: 20px;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
    color: #000;
}

.opt_btn{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}