:root {
  --bg-color: #F8F8F8;
  --header-color: #001233;
  --text-color: #FFF;
  --title-color: #303030;
}

main{
  /* 100vh = tela inteira, 100px = altura header, entao para ocupar o resto -> Tela inteira - header */
  height: calc(100vh - 100px);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}

#title {
  color: var(--title-color);
  font-weight: bold;
  font-size: larger;
  display: flex;
  align-items: center;
}

#select {
  display: flex;
  color: var(--title-color);
  font-weight: bold;
  align-items: center;
}

.select-custom{
  border-radius: 15px;
  width: 300px;
  height: 50px;
  border: none;
  font-size: medium;
  margin-left: 10px;
}

#filter{
  display: flex;
  justify-content: space-between;
  margin: 2% 45% 1% 7%;
}

/* DADOS DO USUARIO */
.info_user {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.user_name {
margin: 0;
align-self: flex-end;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 15px;
  width: 150px;
}

#user-icon{
  margin-right: 4%;
  margin-top: 11%;
}
/* FIM DADOS DO USUARIO */

/* PRIMEIRA LINHA DASHBOARD */
.l1, .l2 {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin: 1%;
  align-items: center;
}

.card_1 {
  background-color: #1f7ed5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 220px;
  height: 115px;
}

.card_1 h3 {
  margin: 0;
  font-size: 1.2em;
  color: #000000;
}

.card_1 .count {
  font-size: 2em;
  color: #000;
  margin: 10px 0 0;
}

.card_2 {
  background-color: #20a6d8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 220px;
  height: 115px;
}

.card_2 h3 {
  margin: 0;
  font-size: 1.2em;
  color: #000000;
}

.card_2 .count {
  font-size: 2em;
  color: #000;
  margin: 10px 0 0;
}

.card_3 {
  background-color: #20cdd8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 220px;
  height: 115px;
}

.card_3 h3 {
  margin: 0;
  font-size: 1.2em;
  color: #000000;
}

.card_3 .count {
  font-size: 2em;
  color: #000;
  margin: 10px 0 0;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
}

.card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.card .count {
  font-size: 2em;
  color: #000;
  margin: 10px 0 0;
}

.donut {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  height: 250px;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

/* SEGUNDA LINHA DASHBOARD */
.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  width: 400px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead tr {
  background-color: #001d2e;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #001233;
}

.box {
  width: 445px;
  height: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2%;
}

.metadataFilter {
  border-radius: 15px;
  width: 200px;
  height: 25px;
  border: none;
  padding: 5px 10px;
  margin-left: 20px;
}
