:root {
    --bg-color: #F8F8F8;
    --header-color: #001233;
    --text-color: #FFF;
    --title-color: #303030;
  }



  #title {
    color: var(--title-color);
    font-weight: bold;
    font-size: larger;
    margin-left: 50px;
    display: flex;
    align-items: center;
  }



  .conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
