html,body{
    margin: 0;
}

.header {
    background-color: #006A8F;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#DRLogo{
    margin: 0 1vw;
    max-width: 100%;
    height: auto;
}
