:root {
    --bg-color: #F1F1F1;
    --header-color: #006A8F;
    --text-color: #FFF;
    --btn-color: #00B4F0;
    --title-color: #757575;
}

*{margin: 0; padding: 0;}

html,body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--text-color)
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-color)
}

#NS-logo {
    width: 100px;
    height: auto;
}

#DomRocK-logo {
    width: 200px;
    height: auto;
}

/* Menu visível */
nav ul.menu {
    font-weight: bold;
}

nav ul.menu li {
    display: inline-block;
    position: relative;
}

nav ul.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

/* Menu suspenso */
nav ul.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--title-color);
}

nav ul.menu ul li {
    display: block;
}

nav ul.menu li:hover ul {
    display: block;
}

nav ul.menu ul li:hover {
    background-color: #555;
}