html,body{
    margin: 0;
}

.header {
    background-color: #006A8F;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#DRLogo{
    margin: 0 1vw;
    max-width: 100%;
    height: auto;
}


.flecha-voltar {
    color: #000000;
    text-decoration: none; /* Tira o sublinhado */
    font-size: 70px;
    margin-left: 20px;
}

.tipo-de-acesso {
    float: right;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.upload {
    margin-top: 30px;
    text-align: center;
}

.botao-upload {
    background-color: #c7c7c7;
    border-style: dashed;
    border-width: 2px; /* Ajusta a largura do tracejado */
    padding: 30px 80px;
    border-radius: 10px;
    font-size: 45px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.icone-botao {
    width: 400px;
    vertical-align: middle;
    margin-top: 20px;
}

.texto-botao {
    font-size: 50px;
    vertical-align: middle;
}

