:root {
    --bg-color: #F8F8F8;
    --header-color: #001233;
    --text-color: #FFF;
    --title-color: #303030;
}

main{
    height: calc(100vh - 100px);
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}

.btn_table{
    cursor: pointer;
    border: none;
    background-color: var(--header-color);
    color: #ffffff;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}
#left {
    display: flex;
    align-items: center;
}

td{
    height: 30px;
    padding: 10px;
}

.tab_check{
    display: flex;
    justify-content: center;
}

/* Menu visível */
nav ul.menu {
    font-weight: bold;
}

nav ul.menu li {
    display: inline-block;
    position: relative;
}

nav ul.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

/* Menu suspenso */
nav ul.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--title-color);
}

nav ul.menu ul li {
    display: block;
}

nav ul.menu li:hover ul {
    display: block;
}

nav ul.menu ul li:hover {
    background-color: #555;
}

#title {
    color: var(--title-color);
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
}

#question:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.icon-container {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

#question-input {
    display: none;
    position: absolute;
    top: 0;
    left: 30px;
    font-size: medium;
    background-color: #ffffff;
    padding: 100%;
    width: 500px;
    border: #001233;
    border-radius: 10px;
}

.icon-container:hover #question-input {
display: block;
}

.all_buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #001233;
    color: #fff;
}

th, td {
    padding: 12px 20px;
    text-align: left;
}

tbody tr {
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #ddd;
}

#body_dados {
    height: 50px;
    color: var(--title-color);
    border-color: var(--title-color);
}

.inputs {
    border: none;
    width: 100%;
    height: 50px;
    font-size: medium;
    text-indent: 10px;
    outline: none;
}

.desc_input {
    border: none;
    width: 99%;
    height: 50px;
    font-size: medium;
    resize: none;
    outline: none;
    padding-block: 1px;
    padding-inline: 2px;
}

.checkbox-custom{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    margin-top: 8%;
    justify-content: center;
}


/* botões */
.button {
    cursor: pointer;
    border: none;
    background-color: var(--header-color);
    color: #ffffff;
    border-radius: 15px;
    height: 50px;
    width: 12%;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.button-container {
    margin: 5%;
    display: flex;
    justify-content: space-around;
    transform: scale(1.2);
}

#save:hover {
    transform: scale(1.05);
}

.pen{
    display: grid;
    justify-items: end;
    margin: 10px;
}

#btn_pen{
    font-size: 20px;
}

#btn_pen:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.back_prompt {
    height: 100vh;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.prompt {
    background-color: white;
    width: 38vw;
    height: 27vh;
    border-radius: 10px;
    /* border: 2px; */
    /* border-color: black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.btns {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.btn_p {
    min-width: 72px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #006a8f;
}

.prompt {
    animation: popupAppear 0.5s normal;
}

@keyframes popupAppear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}