@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
    margin: 0;
    position: relative;
}
main{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
#icone-botao{
    font-size: 6vw;
    color: #001230
}
#botao{
    background-color: #001230;
    font-size: 1.5vw;
    color: white;
    border: none;
    padding: 0.9em 8em 0.8em 9em;   
}
#botao:hover{
    border: #001230 1px solid;
    background-color: white;
    color: #001230;
    cursor: pointer
}
#DRLogo {
    margin: 0 1vw;
    max-width: 100%;
    height: auto;
}

.flecha-voltar {
    color: #000000;
    text-decoration: none; /* Tira o sublinhado */
    font-size: 70px;
    margin-left: 20px;
}

.tipo-de-acesso {
    float: right;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.botao-upload {
    background-color: #ebe8e8;
    -webkit-box-shadow: 0px 0px 49px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 49px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 49px -11px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 30px 80px;
    font-size: 45px;
    cursor: pointer;
    display: inline-flex;
    /* vertical-align: middle; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 20vw;
    transition: background-color 0.3s ease;
}

.botao-upload:hover{
    background-color: #c7c7c7;
}

.icone-botao {
    /* width: 10vh; */
    max-width: 140px;
    /* vertical-align: middle; */
    /* margin-top: 20px; */
}

.texto-botao {
    font-size: 5vh;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
}
.back_prompt {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prompt {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 38vw;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.promptEx {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 38vw;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.prompt1 {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 38vw;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#fechar{
    display: flex;
    justify-content: flex-end;
    width: 97%;
    cursor: pointer;
    margin-top: 10px;
}

.btns {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.btn_p {
    min-width: 72px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #001230;
    margin-top: 2%
}

.prompt {
    animation: popupAppear 0.5s normal;
    
}

.prompt_text {
    font-family: "Inter", sans-serif;
    margin: 3%
}


@keyframes popupAppear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.input_data{
    border: none;
    outline: none;
    background-color: #c1c1c1;
    height: 30px;
    width: 200px;
    border-radius: 12px;
    padding: 5px;
}
.button_close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; /* Define a posição absoluta */
    right: 8px; /* Define a distância do lado direito */
    top: 8px; /* Define a distância do topo */
    color: gray;
    font-size: 125%;
    
}

/* DADOS DO USUARIO */
.info_user {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.user_name {
  margin: 0;
  align-self: flex-end;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
    width: 150px;
}
#user-icon{
  margin-right: 4%;
  margin-top: 11%;
}
/* FIM DADOS DO USUARIO */
.menu{
    display: flex;
    gap: 70px;
}
