@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
    margin: 0;
    position: relative;
}

/* .header {
    background-color: #006a8f;
    width: 100%;
    height: 6vh;
    display: flex;
    position: absolute;
    justify-content: space-between;
    z-index: 3;
} */

#DRLogo {
    margin: 0 1vw;
    max-width: 100%;
    height: auto;
}

.flecha-voltar {
    color: #000000;
    text-decoration: none; /* Tira o sublinhado */
    font-size: 70px;
    margin-left: 20px;
}

.tipo-de-acesso {
    float: right;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.upload {
    text-align: center;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.botao-upload {
    background-color: #ebe8e8;
    -webkit-box-shadow: 0px 0px 49px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 49px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 49px -11px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 30px 80px;
    font-size: 45px;
    cursor: pointer;
    display: inline-flex;
    /* vertical-align: middle; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 20vw;
    transition: background-color 0.3s ease;
}

.botao-upload:hover{
    background-color: #c7c7c7;
}

.icone-botao {
    /* width: 10vh; */
    max-width: 140px;
    /* vertical-align: middle; */
    /* margin-top: 20px; */
}

.texto-botao {
    font-size: 5vh;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
}

.back_prompt {
    height: 100vh;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.prompt {
    background-color: white;
    padding: 1% 8% ;
    border-radius: 10px;
    /* border: 2px; */
    /* border-color: black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.btns {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 10%;
}

.prompt_text {
    font-family: "Inter", sans-serif;
    padding: 5%;
    padding-top: 13%;
}

.btn_p {
    /* width: 72px; */
    min-width: 72px;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #006a8f;
}

/* #btn_yes {
    background-color: #46fd18;
}

#btn_no {
    background-color: #ff1c1c;
}

#btn_cont{
    background-color: #006a8f;
} */

.prompt {
    animation: popupAppear 0.5s normal;
}

@keyframes popupAppear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.input_data{
    border: none;
    outline: none;
    background-color: #c1c1c1;
    height: 30px;
    width: 200px;
    border-radius: 12px;
    padding: 5px;
}