@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,body{
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.header {
    background-color: #006A8F;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
}

#DRLogo{
    margin: 0 1vw;
    max-width: 100%;
    height: auto;
}

.conteudo{
    font-style: normal;
    font-size: 30px;
}