@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,body{
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.header {
    background-color: #006A8F;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
}

#DRLogo{
    margin: 0 1vw;
    max-width: 100%;
    height: auto;
}

.fundo{
    background-color: #006A8F;
    border-radius: 15px;
    width: 400px;
    display: grid;
}

.login-header{
    text-align: center;
    background-color: #153243;
    border-radius: 15px;
    color: white;
}

.login-texto {
    text-align: center;
    color: white;
    border-radius: 15px;
}

.login-campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-campos input[type="text"],
.login-campos input[type="password"],
.login-campos button {
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 15px;
    margin: 20px 0;
}

.login-campos input {
    border: none;
    width: 80%;
}

.campo-email{
    border: none;
    width: 70%;
}

.campo-senha{
    width: 70%;
}

.login-campos button {
    background-color: #153247;
    color: white;
    width: 120px;
    border: 1px solid #00b4f1;
    cursor: pointer;
}