body, html {
    background-color: gray;
    margin: 0;
}

th, td {
    
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 5%;
    table-layout: fixed;
    text-align: center;

}

body{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;

}

#btn_continuar {
    background-color: #c02c2c;

}

#btn_yalm {
    background-color: #0f205a;
}

.conj_check {
    display: inline-block;
}

.tab_check {
    border: none;
    width: 30px;

}

#NS-logo {
    width: 100px;
    height: auto;
}

#DomRocK-logo {
    width: 200px;
    height: auto;
}

/* Menu visível */
nav ul.menu {
    font-weight: bold;
}

nav ul.menu li {
    display: inline-block;
    position: relative;
}

nav ul.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

/* Menu suspenso */
nav ul.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--title-color);
}

nav ul.menu ul li {
    display: block;
}

nav ul.menu li:hover ul {
    display: block;
}

nav ul.menu ul li:hover {
    background-color: #555;
}